<div class="back-btn">
  <%= link_to "Back to hobby", hobby_path(params[:hobby_id]), class: "btn btn-dark btn-sm mb-4" %>
</div>

<div class="chat-history-header border-bottom">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex overflow-hidden align-items-center">
      <div class="flex-shrink-0 avatar">
        <img src="../../assets/img/avatars/2.png" alt="Avatar" class="rounded-circle" >
      </div>
      <div class="chat-contact-info flex-grow-1 ms-3">
        <h6 class="m-0">hobbyname</h6>
        <small class="user-status text-muted">chatrooom name</small>
      </div>
    </div>
  </div>
</div>

<div class="container chatroom" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <h1>#<%= @chatroom.name %></h1>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <div class="container-messages">
    <%= simple_form_for [@hobby, @chatroom, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
      <%= f.input :content,
        label: false,
        placeholder: "Message ##{@hobby.chatroom.name}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
  </div>
</div>
