<%# details of a single event %>
<div class="back-btn">
  <%= link_to "Back to hobby", hobby_path(params[:hobby_id]), class: "btn btn-dark btn-sm mb-4" %>
  <%# <%= link_to "Back to Events", hobby_events_path(@event.hobby), class: "btn btn-dark btn-sm mb-4" %>
</div>

<div class="container flex-container" style="display: flex; flex-direction: row; justify-content: space-between;">
  <div class="event" style="width: 45%;">


    <div class="card" style="height: 55%; background-image: url(https://images.unsplash.com/photo-1646038572806-3d5f4252c567?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjR8fHB1cnBsZSUyMGFuZCUyMG9yYW5nZSUyMGdyYWRpZW50fGVufDB8fDB8fHww);">
      <div class="container">
        <div class="container card-detail mt-4">
          <h1 class="event-title"><%= @event.name %></h1>
          <p class="event-title"><%= @event.location %></p>
          <p class="event-title"><%= @event.date %></p>
          <p class="event-title"><%= @event.time %></p>
        </div>

        <div class="container event-btn mb-4">
          <%= link_to "Edit", edit_hobby_event_path(@event.hobby_id, @event), class: "btn btn-dark btn-sm rounded-pill mb-4" %>
          <%= link_to "Delete", hobby_event_path(@event), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-danger rounded-pill btn-sm mb-4" %>
        </div>

        <div class="container join-btn mt-4">
          <% if user_signed_in? %>
            <% if current_user.bookings.exists?(event_id: @event.id) %>
              <p>This event is already booked by you.</p>
              <%= link_to "View My Events", bookings_path, class: "btn btn-primary btn-sm" %>
            <% else %>
              <%= button_to "Add to My Events", hobby_event_bookings_path(@event.hobby, @event), method: :post %>
            <% end %>
          <% end %>
        </div>

      </div>


    </div>


  </div>

  <%# btn options for the user to choose action %>


  <div class="review-container" style="width: 50%;">
    <%# <%= link_to "Add a Review", new_hobby_event_review_path(@hobby.event.review) %>
    <div class="review-box">
      <h3>Reviews</h3>
      <%# Form to add a new review %>
      <% if user_signed_in? %>
        <%= form_with(model: [ @event, @review ], url: hobby_event_reviews_path(@event.hobby, @event), method: :post) do |form| %>
          <div class="field">
            <%= form.text_area :comment, placeholder: "Add a review", class: 'form-control' %>
          </div>
          <div class="submit-btn mt-2" style="align-items: right;">
            <%= form.submit "Add Review", class: "btn btn-outline-dark btn-sm rounded-pill" %>
          </div>
        <% end %>
      <% else %>
        <p>Please sign in to add a review.</p>
      <% end %>

    </div>

    <%# Display existing reviews %>
    <div class="review-list mt-4">

      <% @reviews.each do |review| %>
        <div class="review mt-4">
          <p><%= review.comment %></p>

          <div class="btn-pos" style="display: flex; flex-direction: row; align-items: flex-end; justify-content: flex-end;">
            <% if user_signed_in? && review.user == current_user %>
              <%= button_to "Delete", hobby_event_review_path(review.event.hobby, review.event, review), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn btn-outline-danger rounded-pill btn-sm" %>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>


  </div>

</div>

<%# linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),  %>
