<%# details of a single event %>
<div class="back-btn">
  <%= link_to "Back to Events", hobby_events_path(@event.hobby), class: "btn btn-dark btn-sm mb-4" %>
</div>

<div class="event">
  <h1><%= @event.name %></h1>
  <p><%= @event.location %></p>
  <p><%= @event.date %></p>
  <p><%= @event.time %></p>
</div>

<%# btn options for the user to choose action %>
<div class="event-btn">
  <%= link_to "Edit", edit_hobby_event_path(@event.hobby_id, @event), class: "btn btn-dark btn-sm mb-4" %>
  <%= link_to "Delete", hobby_event_path(@event), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger btn-sm mb-4" %>
</div>

<div class="join-btn">
  <% if user_signed_in? %>
    <% if current_user.bookings.exists?(event_id: @event.id) %>
      <p>This event is already booked by you.</p>
      <%= link_to "View My Bookings", bookings_path, class: "btn btn-primary btn-sm" %>
    <% else %>
      <%= button_to "Add to Booking", hobby_event_bookings_path(@event.hobby, @event), method: :post %>
    <% end %>
  <% end %>
</div>

<%= link_to "Add a Review", new_hobby_event_review_path(@hobby.event.review) %>
