<div class="mx-auto" style="width: 800px;" >

  <div class="back-btn">
    <%= link_to "Back to Hobbies", hobbies_path(@hobbies), class: "btn btn-dark btn-sm mb-4" %>
  </div>

  <div class="form-hobby mt-4" style="width: 18rem;">
    <%= simple_form_for @hobby do |f| %>
    <%= f.input :name %>

    <%= f.simple_fields_for :chatroom do |chatroom| %>
      <%= chatroom.input :name, placeholder: 'Chatroom name' %>
    <% end %>
    <div class="btn btn-light btn-sm">
      <%= f.button :submit %>
    </div>
    <% end %>
  </div>

</div>
