<div class="container back-btn">
  <%= link_to "Back to Hobbies", hobbies_path(@hobbies), class: "btn btn-dark rounded-pill btn-sm mb-4" %>
</div>

<div class="container">
  <h1><%= @hobby.name %></h1>


    <div class="events-opt mb-4">
      <%# <%= link_to "See all events", hobby_events_path(@hobby, @events), class: "btn btn-light mt-4" %>
      <%= link_to "Add an event", new_hobby_event_path(@hobby, @event), class: "btn btn-outline-dark rounded-pill btn-sm mt-4" %>
    </div>


    <div class="chat-btn">
      <%= link_to "Join Chatroom", hobby_chatroom_path(@hobby, @hobby.chatroom), class: "btn btn-dark rounded-pill btn-sm mb-4" %>
    </div>

  

</div>

<div class="container">

  <div class="event-list">
    <ul>
      <div class="card">
        <% @events.each do |event| %>

          <h5><%= event.name %></h5>
          <p><%= event.date %><p>

          <div class="event-btn">
          <%= link_to "See Details", hobby_event_path(event.hobby_id,event), class: "btn btn-outline-dark rounded-pill btn-sm mb-4" %>

          <%= link_to "Edit", edit_hobby_event_path(event.hobby_id, event), class: "btn btn-dark rounded-pill btn-sm mb-4" %>

          <%= link_to "Delete", hobby_event_path(event.hobby_id, event), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger rounded-pill btn-sm mb-4" %>
        <% end %>

      </div>



    </ul>
  </div>

</div>
